body {
    background: linear-gradient(-45deg, #e06c49, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
    font-family: 'Arial Black';
    font-size: 34.5px;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  path {
    fill: transparent;
  }
  
  text {
    fill: #FF9800;
  }

  * {
    box-sizing: border-box;
  }

  h2 {
    text-shadow: 2px 2px;
  }

  div.a 
  {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Create two equal columns that floats next to each other */
  .column 
  {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px; 
    border: black;
    border-style: solid;
  }
  
  /* Clear floats after the columns */
  .row:after 
  {
    content: "";
    display: table;
    clear: both;
  }

  .gamebutton 
  {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

  .gamebutton:hover /*this highlights button in red and elevates if when hovering over */
  {
    background-color: #991010;
    color: white;
    box-shadow: 0px 37px 20px -15px rgba(0,0,0,0.2);
    transform: translate(0px, -10px);
    }